
    <div class="ui first right sidebar vertical overlay menu" style="z-index: 5 !important;">
      <a class="item" href="/login">Log in</a>
      <a class="item" href="/register">Register</a>
    </div>

    <div class="ui fixed borderless main menu pointing" style="font-size: 15px;box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);background: #b35718;">
      <div class="ui container">
          
          <a class="header item" style="padding: 0px;">
            <img class="logo" src="/logo.png">
          </a>
  
          <a class="toc1 home right item" style="color: white;font-size: x-large;"><i class="sidebar icon"></i></a>
          
          <div class="right item toc2">
            <a class="ui inverted button" href="/login">Log in</a>
            <a class="ui inverted button" href="/register" style="margin-left: 5px;">Register</a>
          </div>
      </div>
    </div>

  